<a href="/@Target/" class="btn btn-dark btn-block" style="border: 3px solid white;">
    <span class=" oi oi-arrow-left"></span>
    Back To Previous Page
</a>

@code {
    [Parameter] public string Target  { get; set; }
}
