@page "/"

<!-- Code For Intro-->
<div class="intro">
    <header>
        <PageTitle>Index</PageTitle>
        <h1>H&N</h1>
    </header>

    <p class="Welcome-Line"> Welcome to Health & Nutrition.</p>

    <p>
    <p class="About-Us"> About Us </p>
    Health & Nutrition Pte Ltd is a company that mainly focuses on information about healthy eating/diet, food proportion, counting calories/macros
    and introducing some of the food people should/should not eat. Due to an increase in the workforce industry, most working adults tend to neglect
    their health due to long working hours, and often end up facing some problems in their health due to a lack of adapting healthy eating into their
    lifestyle. Hence, H&N hopes to help these people to improvise their lifestyle by helping them to learn more about the goods and stay away from
    the bads which will hopefully convince them to adapt to a healthy lifestyle.
    </p>

    <p>
    <p class="Goal-Line"> Our Goal & Vision </p>
    H&N Helps You To Manage Your Health, Diet & LifeStyle <br />
    Don't Think About Living Healthily, <br />
    Think That You Are Changing The Way You Live, Feel & Look
    </p>
</div>

<style>
    .intro 
    {
        background-image: url("https://t3.ftcdn.net/jpg/05/50/10/48/360_F_550104842_vqna9aFIT8Jf81dKpkbtmS2E0myh9Hg2.jpg"); /* Path To Image */
        background-size: cover;
        background-position: center;
        color: white; /* Colour For Words */
        padding: 20px; /* Padding Added For Aesthetics */
        text-align: center;
    }

    .Welcome-Line 
    {
        font-size: 24px;
    }

    .About-Us, .Goal-Line 
    {
        text-decoration: underline;
        font-size: 24px;
    }
</style>